*
!.config
.config/*
!.config/lvim
.config/lvim/*
!.config/lvim/config.lua
!.config/lvim/ftplugin
!.config/lvim/ftplugin/*
!.config/lvim/fnl
!.config/lvim/fnl/*
!.config/htop
!.config/htop/*


!.gitignore
